<h1 class="mt-3">Cypher Crypt</h1>
<hr>

<!-- Table -->
<div class="row">
  <div class="col">
    <h4>Letters with shift</h4>
    <table class="table">
      <tr class="text-center">
        <th *ngFor="let item of letters | keyvalue">{{ item.key }}</th>
      </tr>
      <tr class="text-center">
        <td *ngFor="let item of letters | keyvalue">{{ item.value }}</td>
      </tr>
    </table>

    <h4>Original letters</h4>
    <table class="table">
      <tr class="text-center bg-dark text-white">
        <th *ngFor="let item of originalLetters | keyvalue">{{ item.key }}</th>
      </tr>
      <tr class="text-center bg-info text-white">
        <td *ngFor="let item of originalLetters | keyvalue">{{ item.value }}</td>
      </tr>
    </table>

  </div>
</div>

<hr>


<div class="row">
  <div class="col-8">
    <h3>Example:</h3>
    <table class="table">
      <tr class="text-center text-center bg-dark text-white">
        <th>C</th>
        <th>A</th>
        <th>N</th>
        <th>A</th>
        <th>D</th>
        <th>A</th>
      </tr>
      <tr class="text-center">
        <td>{{ letters['C'] }}</td>
        <td>{{ letters['A'] }}</td>
        <td>{{ letters['N'] }}</td>
        <td>{{ letters['A'] }}</td>
        <td>{{ letters['D'] }}</td>
        <td>{{ letters['A'] }}</td>
      </tr>
      <tr class="text-center bg-info text-white">
        <td>{{ originalNumberLetters[ letters['C'] ] }}</td>
        <td>{{ originalNumberLetters[ letters['A'] ] }}</td>
        <td>{{ originalNumberLetters[ letters['N'] ] }}</td>
        <td>{{ originalNumberLetters[ letters['A'] ] }}</td>
        <td>{{ originalNumberLetters[ letters['D'] ] }}</td>
        <td>{{ originalNumberLetters[ letters['A'] ] }}</td>
      </tr>
    </table>
  </div>

  <div class="col-4">
    <label class="text-primary">ShiftKey: </label>
    <input 
      type="number"
      class="form-control"
      required
      [formControl]="shiftKey"
      autofocus
    />

    <label class="text-danger"
      *ngIf="shiftKey.invalid">
      Value must be between 0-25
    </label>

  </div>

  <hr>

  <!-- Decrypt -->
  <div class="row">
    <div class="col">
      <h1>Decrypt messages</h1>

      <input 
        [formControl]="encryptedMessage"
        class="form-control"
        placeholder="Enter a encrypted message"
      />

      <input 
        [value]="decryptedMessage"
        class="form-control mt-2"
        readonly="readonly"
      />

      <br>
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Word</th>
            <th>Shift</th>
            <th>value</th>
          </tr>
        </thead>
        <tbody>

          
          <tr>
            <th>QVIREFVGL</th>
            <td>13</td>
            <td>DIVERSITY</td>
          </tr>
          <tr>
            <th>ZJ</th>
            <td>17</td>
            <td>IS</td>
          </tr>
          <tr>
            <th>DJG</th>
            <td>15</td>
            <td>OUR</td>
          </tr>
          <tr>
            <th>LMKXGZMA</th>
            <td>19</td>
            <td>STRENGTH</td>
          </tr>
        </tbody>
      </table>
      

    </div>
  </div>


</div>